cffi~=1.15.1
Pillow~=9.2.0
pip~=22.3
attrs~=22.1.0
response~=0.5.0
Jinja2~=3.1.2
keyring~=23.9.3
Django==4.1.2
asgiref~=3.5.2
sqlparse==0.4.3
mysqlclient~=2.1.1
psycopg2==2.9.5
loader~=2017.9.11
colorama==0.4.6
numpy==1.23.4
requests~=2.28.1
setuptools==65.5.0
selenium~=4.5.0
