{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
        <br>
   <a>
        <button id="WORK" class=" button WORK ">
            <i class="fa fa-unlock"></i>
            <span>WORK</span>
        </button>
       <button id="SHOP" class=" button SHOP ">
            <i class="fa fa-unlock"></i>
            <span>SHOP</span>
        </button>
       <button onclick="window.location.href = 'https://www.instagram.com/mariakov.aqua/'"
               id="INSTA" class=" button INSTA ">
            <i class="fa fa-unlock"></i>
            <span>INSTA</span>
        </button>
       <button id="ABOUT" class=" button ABOUT ">
            <i class="fa fa-unlock"></i>
            <span>ABOUT</span>
        </button>
</a>

</body>
</html>