body{
    background-image: url(static/img/1.jpg);
    background-color: #e0f1ff ;
    font-family: "Times New Roman", Times, serif;
    color: #70b5ff;
}

.button {
  /* Сбрасываем дефолтные стили */
  border: none;
  outline: none;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  /* Можно также использовать любые встроенные и кастомные шрифты, например, отсюда  */
  font-family: Roboto, Verdana, Tahoma, sans;
  /* Тут можно поэкспериментировать */
  padding: 12px 16px;
  border-radius: 10px;
  color: #fff;
}
.button i {
  margin-right: 4px;

}
.button + .button {
  margin-left: 50px;
}
/*.button.blue {*/
/*  background: #2196F3;*/
/*}*/
/*.button.purple {*/
/*  background: #9b59b6;*/
/*}*/

.button.WORK {
  background: #526c8a;
  margin-left: 500px;

}
.button.SHOP {
  background: #526c8a;

}
.button.INSTA {
  background: #526c8a;

}
.button.ABOUT {
  background: #526c8a;

}
