body{
    background-image: url(static/img/background.jpg);

    background-repeat: no-repeat;
    /*background-color: #e0f1ff ;*/
    font-family: "Times New Roman", Times, serif;
    color: #70b5ff;
}

/*html {*/
/*  background-image: url(static/img/background.jpg);*/
/*  background-repeat: no-repeat;*/

/*  background-attachment: fixed;*/
/*  -webkit-background-size: 200px;*/
/*  -moz-background-size: 200px;*/
/*  -o-background-size: 200px;*/
/*  background-size: 500px;*/
/*}*/

.button {

  /* Сбрасываем дефолтные стили */
  border: none;
  outline: none;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  /* Можно также использовать любые встроенные и кастомные шрифты, например, отсюда  */
  font-family: Roboto, Verdana, Tahoma, sans;
  /* Тут можно поэкспериментировать */
  padding: 12px 16px;
  border-radius: 10px;
  color: #ffffff;
}
.button i {
  margin-right: 4px;

}
.button + .button {
  margin-left: 50px;
}

.button.WORK {
  background: #526c8a;
  margin-left: 500px;

}
.button.SHOP {
  background: #526c8a;

}
.button.INSTA {
  background: #526c8a;

}
.button.ABOUT {
  background: #526c8a;

}
