{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/works.css' %}">
</head>
<body>
    <a>
        <img class="works" src="{% static 'images/1.jpg' %}"  alt="">
        <img class="works" src="{% static 'images/2.jpg' %}"  alt="">
        <img class="works" src="{% static 'images/3.jpg' %}"  alt="">
        <img class="works" src="{% static 'images/4.jpg' %}"  alt="">
        <img class="works" src="{% static 'images/photo_2022-11-01_16-18-53.jpg' %}" alt="" >
        <img class="works" src="{% static 'images/photo_2022-11-01_16-18-52 (2).jpg' %}" alt="" >
        <img class="works" src="{% static 'images/photo_2022-11-01_16-18-49.jpg' %}" alt="" >
        <img class="works" src="{% static 'images/photo_2022-11-01_16-18-52.jpg' %}" alt="" >
        <img class="works" src="{% static 'images/photo_2022-11-01_16-31-46.jpg' %}" alt="" >
        <img class="works" src="{% static 'images/' %}" alt="" >
    </a>
</body>
</html>