{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/reg.css' %}">
</head>
<body>
    <form method="post">
        <center>
            <h1>Регистрация</h1>
            {% csrf_token %}
            Имя пользователя: <input type="text" name="username"><br>
            Email: <input type="email" name="email"><br>
            Пароль: <input type="password" name="password"><br>
            Пароль еще раз: <input type="password" name="password2"><br>
            <input type="submit" value="Регистрация">
        </center>
    </form>
</body>
</html>

<!--<!DOCTYPE html>-->
<!--<html lang="ru">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--    <link rel="stylesheet" href="{% static 'css/reg.css' %}">-->
<!--</head>-->
<!--<body>-->
<!--    <form action="">-->
<!--        <h1 title="Форма регистрации на сайте">Регистрация</h1>-->
<!--        {% csrf_token %}-->
<!--        Имя пользователя: <input type="text" name="username"><br>-->
<!--        Email: <input type="email" name="email"><br>-->
<!--        Пароль: <input type="password" name="password"><br>-->
<!--        Пароль еще раз: <input type="password" name="password2"><br>-->
<!--        <input type="submit" value="Регистрация">-->
<!--    </form>-->
<!--</body>-->
<!--</html>-->





<!--    <div class="group">-->
<!--            {% csrf_token %}-->
<!--            <label for="">Имя пользователя:</label>-->
<!--            <input type="text">-->
<!--        </div>-->
<!--        <div class="group">-->
<!--            {% csrf_token %}-->
<!--            <label for="">Пароль:</label>-->
<!--            <input type="password">-->
<!--        </div>-->
<!--        <div class="group">-->
<!--            {% csrf_token %}-->
<!--            <label for="">Пароль ещё раз:</label>-->
<!--            <input type="password">-->
<!--        </div>-->
<!--        <div class="group">-->
<!--            {% csrf_token %}-->
<!--            <label for="">Адрес электронной почты:</label>-->
<!--            <input type="email">-->
<!--        </div>-->
<!--        <div class="group">-->
<!--            {% csrf_token %}-->
<!--            <center><button>Регистрация</button></center>-->
<!--        </div>-->
